<header>
	<div id="logo"><a href="/"></a></div>
  	<nav class="topnav" id="topnav">
	    <a href="/"><span>首页</span><span class="en">Index</span></a>
	    <a href="/about.html"><span>关于Judy</span><span class="en">About</span></a>
	    <a href="/life.html"><span>点点滴滴</span><span class="en">Life</span></a>
	    <a href="/mood.html"><span>碎言碎语</span><span class="en">Mood</span></a>
	    <a href="/album.html"><span>美丽瞬间</span><span class="en">Album</span></a>
	    <a href="/book.html"><span>游客足迹</span><span class="en">Footprint</span></a>
  	</nav>
</header>